@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
/* font-family: 'Roboto Condensed', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@550&display=swap");
/* font-family: 'Quicksand', sans-serif; */
element {
  --back-color: #1cb5bd;
}

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar-styling */

nav {
  box-shadow: 2px 2px 12px 0.4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 100px;
  width: 100px;
}
#nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}
.search-bar {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 100vw;
  height: 2.5rem;
  cursor: pointer;
  padding: 1rem;
}
.list {
  display: flex;
  gap: 2rem;
}
li {
  list-style: none;
}
.links {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: grey;
  transition: all 0.1s;
  position: relative;
}
.effect {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 100%;
  left: 0;
  background: #1cb5bd;
  transition: all 0.2s;
}
.links:hover {
  color: #1cb5bd;
}
.links:hover .effect {
  width: 100%;
}
.log-in {
  font-size: 3rem;
  color: #1cb5bd;
  border-radius: 50%;
  margin: 1rem;
  cursor: pointer;
}
.nav-btn {
  display: none;
}

/* main-page */
/* Hero Section Styling */
.Hero-Section
{
  height: 515px;
}
.hero-sec-container
{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.left-sec
{
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 2px;
}

.DocImgSEC
{
  /* Rectangle 6 */
  box-sizing: border-box;
  width: 546px;
  height: 530px;
  background: rgba(106, 204, 211, 0.15);
  border: 10px solid #1CB5BD;
  border-radius: 235px;
}
.DocImg{
  translate: 1vw .5vw; 
  box-sizing: border-box;
  width: 500px;
  border-radius: 235px;
  height: 490px;
}

.Quote{
  /* Your Health Comes First. */
  width: 28vw;
  height: 142px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  color: #1cb5bd;
}
/* Wave image Pattern */
.wave-img
{
  width: 28vw;
}

.Hero-section-text
{
  /* With Medicare services you will receive the best medical treatment in your home. Our team of skilled medical professionals and aids ensure that you get the care you need and deserve. */
  padding-top: 5px;
  width: 29vw;
  height: 140px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 145%; */
  color: #787878;
  text-align: center;

}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 2px 2px 15px 0.6px rgba(0, 0, 0, 0.2);
}


.card-container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}
.card-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0.5rem;
}
.card-heading {
  font-family: "Roboto Condensed", sans-serif;
  color: #1cb5bd;
}
.card-para {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  padding: 1rem;
}
.login{
  font-family: "Roboto Condensed", sans-serif;
  color: #073133;
}
section {
  margin: 2rem 0;
  height: 500px;
}
.section-img {
  background-size: cover;
  background: url("/public/img/medicine.jpg");
}

/* Medicine Uses */
.MedicineUses{
  font-family: 'Roboto Condensed', sans-serif;
  background: #1cb5bd;
  color: white;
 
}
.medicine-content
{
  display: flex;
  gap: 30vw;
  align-items: center;
}
.heading-1
{
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 3rem;
  text-transform: capitalize;
}
.steps
{
  font-size: 1.5vw;
  display: inline-block;
  width: 27vw;
  padding-left: 6vw;
  line-height: 7vh;
  letter-spacing: .05rem;
  
}
/* Oval */
.oval {
  
  margin-top: 40px;
  border: 5px solid linear-gradient(142.77deg, #C8E6C9 15.84%, #B3E5FC 85.86%);
  border-radius: 160px;
  width: 300px;
  height: 300px;
  background: linear-gradient(142.77deg, #C8E6C9 15.84%, #B3E5FC 85.86%);
  mix-blend-mode:lighten;
  opacity: 0.25;

}
.oval:hover{
  margin-top: 40px;
  border: 10px solid whitesmoke;
  border-radius: 160px;
  width: 300px;
  height: 300px;
  background: linear-gradient(142.77deg, #C8E6C9 15.84%, #B3E5FC 85.86%);
  mix-blend-mode: lighten;
  opacity: 0.25;
  transition: all .5s;
}


/* carousel */
.carousel {
  height: 400px;
  display: flex;
  position: relative;
  margin: 2rem 1rem;
  overflow: hidden;
  box-shadow: 1px 1px 10px 0.2px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
#review-card {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}
.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
button {
  height: max-content;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 99;
}
.prev,
.next {
  background: none;
  border: none;
  color: #1cb5bd;
  font-size: 2rem;
}
#review-card.active {
  transform: translateX(0);
  opacity: 1;
}
#review-card.lastslide {
  transform: translateX(-100%);
}
#review-card.nextslide {
  transform: translateX(100%);
}

/* footer */

.footer {
  height: 200px;
  background:#b5f5f8;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.icon-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.icons {
  display: flex;
  gap: 1rem;
  color:#057e85;
  font-size:1.5rem;
}
.foot-p {
  text-align: center;
  padding: 1rem;
  color:#057e85;
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  color: #1cb5bd;
  font-family: "Roboto Condensed", sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* detect */

.container-box {
  height: 84vh;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/public/img/sign.jpg");
  background-size: cover;
  padding: 2rem;
  /* margin: 1rem 0; */
}

.container {
  height:100%;
  width:50%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  gap:1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-sections {
  margin: 1rem;
  border: 0.7px solid rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: max-content;
  box-shadow: 0.1px 0.1px 10px 0.2rem rgba(0, 0, 0, 0.1);
}

.input-icons {
  font-size: 1.5rem;
  margin: 0 0.4rem;
  color: #057e85;
}

.login-input {
  border-radius: 4px;
  border: none;
  padding: 1rem;
}

.input-submit {
  background: #057e85;
  border: none;
  box-shadow: 0.1px 0.1px 10px 0.2rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-family: "Quicksand", sans-serif;
  color: white;
  border-radius: 4px;
}

/* form */

.sign-form{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  padding:2rem;
}
input{
  padding:1rem;
}
h3{
  font-family: 'Quicksand', sans-serif;
  color:#057e85;
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    grid-auto-flow: rows;
    padding:1rem;
}
.para {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.center-div{
  display: flex;
  justify-content: center;
  align-items: center
}
.detail-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: 60vw;
  margin:2rem
}
.med-h1{
  padding:1rem;
  position: relative;
}
.med-h1::after{
  content: "";
  position: absolute;
  left:0;top:80%;
  background: #057e85;
  width: 100%;
  height: 2px;
}
.med-p{
  color: #057e85;
  font-family: 'Quicksand', sans-serif;
  padding:1rem;
  text-align: center;
}
.med-h4{
  color: #057e85;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  padding:1rem;
}
.med-li{
  padding:0.5rem;
  list-style: disc;
  color:#057e85;
  font-family: 'Poppins', sans-serif;
}
.med-input{
  background: #057e85;
  border: none;
  box-shadow: 0.1px 0.1px 10px 0.2rem rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  font-family: "Quicksand", sans-serif;
  color: white;
  border-radius: 4px;
  margin:1rem;
}

@media (min-width: 1800px) {
  * {
    font-size: 1.2rem;
  }
  .list {
    gap: 5rem;
  }
  .search-bar {
    margin: 0.5rem 0;
  }
  .log-in {
    font-size: 3rem;
  }
  #nav-links {
    padding: 1rem;
  }
}
@media (max-width: 800px) {
  .container-box{
    height: 88vh;
  }
  .login{
    font-size: 1rem;
  }
  #nav-links.show {
    display: flex;
  }
  #nav-links.hide {
    display: none;
  }
  .nav-btn {
    display: block;
    position: absolute;
    background: none;
    border: none;
    font-size: 1.7rem;
    top: 0;
    right: 12%;
    margin: 0.2rem;
    z-index: 999;
  }
  nav {
    flex-direction: column;
    padding: 0.3rem;
  }
  .list {
    flex-direction: column;
  }
  .logo {
    margin: 0.5rem;
    height: 2.5rem;
  }
  #nav-links {
    padding: 1rem;
    justify-content: space-between;
  }
  .search-bar {
    margin: 1rem 0;
  }
  .log-in {
    position: absolute;
    font-size: 2.5rem;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 0.3rem;
  }
  .card-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 75%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    padding: 1rem;
  }
  .container{
    width:80vw;
  }
}
@media (max-width:765px)
{
  .steps
  {
    display: none;
  }
  .oval{
    margin-top: 25px;
    margin-left: 25vw; 
}
  .oval:hover
  {
    margin-top: 25px;
  }
 
  
}
@media (max-width:1270px)
{
   .left-sec
  {
    display: none;
    gap: 20px;
    flex-wrap: wrap;
  }
}
